<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Room</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous">
        </script>
    <script src="https://learnsocket.herokuapp.com/socket.io/socket.io.js"></script>
    <script src="handleChatRoom.js"></script>
    <link rel="stylesheet" type="text/css" href="chatRoom.css" />
</head>

<body>
    <input type="text" id="txtRoom" />
    <input type="button" id="btnTaoRoom" value="Tao Room" />
    <div id="left">
        <h3>Room Dang Co</h3>
        <div id="dsRoom"></div>
    </div>
    <h4 id="roomHienTai">...</h4>
    <div id="right">

    </div>
    <input type="text" id="txtMessage" />
    <input type="button" id="btnChat" value="Chat" />

</body>

</html>