<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Game</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous">
        </script>
    <script src="https://learnsocket.herokuapp.com/socket.io/socket.io.js"></script>
    <script src="handleMiniGame.js"></script>
    <link rel="stylesheet" type="text/css" href="miniGame.css" />
</head>

<body>
    <div id="wrapper">
        <div id="infomation">
            <input type="text" id="txtHoTen" placeholder="Ho Va Ten" />
            <input type="text" id="txtEmail" placeholder="Email" />
            <input type="text" id="txtSoDT" placeholder="Dien Thoai" />
            <input type="button" id="btnRegister" value="Send" />
        </div>
        <div id="listUsers">
            <h3>Danh Sach Hoc Vien</h3>
            <div id="ds">
                <!-- <div class='hocvien'>
                    <div class='hang1'>id: 1 || <span> Le Minh Duc</span></div>
                    <div class='hang2'>duc@gmail.com -- 0868894814</div>
                </div>
                <div class='hocvien'>
                    <div class='hang1'>id: 1 || <span> Le Minh Duc</span></div>
                    <div class='hang2'>duc@gmail.com -- 0868894814</div>
                </div>
                <div class='hocvien'>
                    <div class='hang1'>id: 1 || <span> Le Minh Duc</span></div>
                    <div class='hang2'>duc@gmail.com -- 0868894814</div>
                </div> -->
            </div>


        </div>
    </div>
</body>

</html>